/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 8/03/2018, 10:52:30 AM
    Author     : Focus on Services
*/
/* #e9ebee
#6c3a37
Dragable pannel rocksj
*/

.pcoded .pcoded-header .navbar-logo[logo-theme="theme1"] {
    background:  #005689 !important;
}

.bg-c-pink {
    background-color: #FC6180;
    border-radius: 4px;
}
.d-inline {
    display: inline!important;
}
#rockjsDragable .panel-heading {
    cursor: move;
}

.grid-stack-item {
    cursor: move;
}


.grid-stack-item:hover {
    box-shadow: 0 0 11px rgba(33,33,33,.2); 
}

body {
    background-color: #e9ebee;
}

.card {
    margin-top: 1em;
}

/* IMG displaying */
.person-card {
    margin-top: 5em;
    padding-top: 5em;
}
.person-card .card-title{
    text-align: center;
}
.person-card .person-img{
    width: 10em;
    position: absolute;
    top: -5em;
    left: 50%;
    margin-left: -5em;
    border-radius: 100%;
    overflow: hidden;
    background-color: white;
}



h1 { font-family: Raleway; font-size: 24px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 26.4px; } h3 { font-family: Raleway; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 15.4px; } p { font-family: Raleway; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 20px; } blockquote { font-family: Raleway; font-size: 21px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 30px; } pre { font-family: Raleway; font-size: 13px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 18.5714px; }

.loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url(../images/rocket.svg) 50% 50% no-repeat rgb(249,249,249);
    opacity: .8;
}


.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #005689;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 15px;
    color: #f1f1f1;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #ff1721;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: .5rem 0;
    margin: .125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #00008f;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
}


.cfos {
    color: #3873ae;
}

.bg-fos {
    background-color: #3873ae !important;
}
.bg-white {
    background-color: #fffff !important;
}

.pixeden {
    font-size: 25px;
    display: block;
    margin: auto;
}

.bkg-div{
    border-bottom: 1px solid #DDE5E8;
    margin-top: 0;
    padding: 0;
    background-color: #F5FAFF;
}


.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {display:none;}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}


/***/

.btna {
    border-radius: 4px;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.btna span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.btna span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.btna:hover span {
    padding-right: 25px;
}

.btna:hover span:after {
    opacity: 1;
    right: 0;
}

@media (max-width: 576px)
{
    .mn-rigth{display: none}
    .mn-left{display: flex}

}

.card-border-primary {
    border-top: 4px solid #4680ff;
}

.card-border-danger {
    border-top: 4px solid #FC6180;
}
.card-border-warning {
    border-top: 4px solid #FFB64D;
}

.card-border-success {
    border-top: 4px solid #33cc33;
}
/*Gurable*/
.pcoded .pcoded-header[header-theme="theme6"] {
    background: #3873ae !important;
}



.common-img-bg {
    background-size: cover;
    background: url(../images/1.jpg) no-repeat center center fixed;
    height: 100%;
}